body {
    color: #1A1B26;
font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: thin;
}


.navbar {
    background-color: #000324;
}

a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: end;
}

.reserve {
    border: 2px solid white;
}

.rsv {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.headerImg {
    background-image: url("/assets/hotelMarkupAssets/header.jpg");
    max-width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -8px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.headerOverlay {
    margin-top: 130px;
    max-width: 945px;
    padding-left: 120px;
    padding-right: 120px;
    height: 232px;
    background-color: rgba(0, 3, 36, 0.8);
    color: #E5FEFF;
    text-align: center;
    padding-top: 70px;
}

.paradise {
    margin-left: -10px;
    margin-right: -10px;
}

.imgStyled {
    top: 728px;
    left: 393px;
    width: 369px;
    height: 416px;
    object-fit: cover;
    object-position: center;
}

.rooms-bg {
    background-image: url("/assets/hotelMarkupAssets/bg2.jpg");
    max-width: 100%;
    height: 738px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h5 {
    padding-top: 25px;
    padding-bottom: 10px;
}

.packages {
    padding-top: 80px;
    padding-bottom: 20px;
}

.packageImg {
    width: 100%;
    height: 234px;
    object-fit: cover;
    object-position: center;
}
.cost {
    color: #1F51A8;
}

.amenities-bg {
    background-image: url("/assets/hotelMarkupAssets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.amenities, .reserve-a-room {
    display: block;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.reserve-a-room {
    margin-top: -20px;
}

.text-white {
    color: white;
}

.reservation {
    background-color: #000324;
    max-width: 1137px;
    margin-top: 100px;
    padding-top: 50px;
    color: white;
    padding-bottom: 50px;

}

.reserveCont {
        padding: 0px !important;
}

.reservationImg {
    max-width: 1137px;
    width: 100%;
    height: 414px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 100px;
}

footer {
    height: 300px;
    background-color: #000324;
    color: #E5FEFF;
    margin-top: 100px;
}

.rooms-grid {
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.room1 {
grid-column: 1;
}

.room2 {
grid-column: 2;

}

.room3 {
grid-column: 3;

}
.rooms-text-only {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.card-body {
    height: 370px !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300 !important;
    font-style: normal;
}

.btn {
    border-radius: 0px;
    font-weight: bold;
}

form {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

ul {
    margin-left: -30px;
}

@media (max-width: 992px) {
    .navbar-nav {
        display: flex !important;
        align-items: center !important;
    }
}

@media (max-width: 638px) {
    .headerOverlay {
        padding-left: 20px;
        padding-right: 20px;

    }
}