body {
color: #1A1B26;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


.navbar {
background-color: #000324;
}

a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.nav {
display: flex;
justify-content: center;
align-items: end;
}

.reserve {
    border: 2px solid white;
}

.rsv {
position: absolute;
left:    15px;
bottom:   15px;
}

.headerImg {
    background-image: url("/assets/hotelMarkupAssets/header.jpg");
    max-width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -8px;
}

.headerOverlay {
margin-top: 130px;
max-width: 945px;
padding-left: 100px;
padding-right: 100px;
width: 100%;
height: 232px;
background-color: rgba(0,3,36,0.8);
color: #E5FEFF;
text-align: center;
padding-top: 60px;
}

.paradise {
    margin-left: -20px;
    margin-right: -20px;
}

.imgStyled {
top: 728px;
left: 393px;
width: 369px;
height: 416px;
object-fit: cover;
object-position: center;
}

.rooms-bg {
background-image: url("/assets/hotelMarkupAssets/bg2.jpg");
width: 100%;
height: 738px;
object-fit: cover;
object-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
padding-bottom: 100px;
}

h5 {
    padding-top: 25px;
    padding-bottom: 10px;
}

.packageImg {
width: 100%;
height: 234px;
object-fit: cover;
object-position: center;
}

.cost {
    color: #1F51A8;
}

.centered {
display: flex;
justify-content: center;
align-items: center;
}

.amenities-bg {
background-image: url("/assets/hotelMarkupAssets/bg.jpg");
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
}
.text-white {
color: white;  
}
.reservation {
    background-color: #000324;
    max-width: 1137px;
    margin-top: 100px;
    padding-top: 50px;
    color: white;
    padding-bottom: 50px;
}

.reservationImg {
max-width: 1137px;
width: 100%;
height: 414px;
object-fit: cover;
object-position: center;
margin-bottom: 100px;
}

footer {
    height: 300px;
    background-color: #000324;
    color: #E5FEFF;
    margin-top: 30px;
}
.rooms {
    flex-wrap: wrap;
    margin: -5px;
}

h1, h2, h3, h4, h5 {
    font-weight: 100 !important;
}

.formOverride {
    border-radius: 0px;
}

form {
        margin-left: -10px;
    margin-right: -10px;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
    display: flex !important;
    align-items: center !important;
}
}